#Git Ignore file

config/gtk-2.0
./config/.gitignore
config/Autodesk/
config/lxterminal
config/configstore
config/.DS_Store
config/PureRef.ini
config/gtk-2.0
config/bashtop/error.log
config/vifm/scripts/
config/vifm/vifminfo.json
config/coc/
config/coc/extensions/package.json

config/lazygit/state.yml

config/PureRef.ini

config/iterm2/AppSupport
config/oni2/configuration.json
config/oni2/keybindings.json
config/oni2/store/global/store.json
config/oni2/workspace/global/meta.json
vim


config/nvim/.netrwhist