#Git Ignore file

config/gtk-2.0
./config/.gitignore
config/Autodesk/
config/lxterminal
config/configstore
config/.DS_Store
config/PureRef.ini
config/gtk-2.0
config/bashtop/error.log
config/vifm/scripts/
config/vifm/vifminfo.json
config/coc/
config/coc/extensions/package.json
config/nvim/.netrwhist

config/coc/extensions/package.json
config/coc/extensions/package.json

cli50symlink.sh.save

config/PureRef.ini